@charset "utf-8";
@font-face {
    font-family: 'Ubuntu';
    src: url(/fonts/Ubuntu-Regular.ttf);
}

/*
    Data Grid
    By: Amber Jeffers
    Date: November 8, 2021
*/

/* Global */
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    color: #254559;
}

/* Container */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* Header */
header {
    grid-area: header;
    padding: 1rem;
}

/* Main */
main {
    grid-area: main;
    overflow: auto;
    padding: 4rem;
    background-color: #F1ECEF;
    box-shadow: 0 -3px 3px -3px #254559, 0 3px 3px -3px 
}

/* Tables */
table {
    margin-left: auto;
    margin-right: auto;
}

table > caption {
    text-align: left;
    font-size: 30px;
    margin-bottom: 1rem;
}

.margin {
    margin-top: 3rem;
}

table, th, td {
    border: 2px solid #F48C9C;
    border-collapse: collapse;
    text-align: center;
}

.schedule th, td {
    padding: 10px 60px;
}

th {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
}

.na {
    background-color: #f5aab78a;
}

figcaption {
    margin-top: 1em;
    text-align: center;
    font-style: italic;
}

/* Footer */
footer {
    grid-area: footer;
    text-align: center;
    padding: 1rem;
    font-size: 18px;
}

address {
    padding: 1rem;
}

address a {
    text-decoration: none;
    color: #F48C9C;
}

address a:hover {
    color: #F5AAB7;
}